.evalk-theme-cloud {
    --default-color: rgb(0, 0, 0);
    --input-background: linear-gradient(to right bottom, #a1baee22 0, #b5b8e922 20%, #abc3ee22 70%, #a1dce922 100%);
    --hover-background: linear-gradient(to right, #a1baee3b 0, #b5b8e93b 20%, #abc3ee3b 70%, #a1dce93b 100%);
    --svg-button-color: rgb(81, 81, 81);
    --border-color: rgba(0, 0, 0, 0);
    --message-time-color: rgb(163, 166, 170);
    --message-background: linear-gradient(to bottom, #a1baee28 0, #b5b8e928 20%, #abc3ee28 70%, #a1dce928 100%);
    --evalk-color: linear-gradient(to right, #b846ff 0, #b823e0 20%, #ff03c3 70%, #ff20c1 100%);
    --link-color: #0068E0;
    --s-font-color: rgb(24, 24, 24);
    --s-icon-color: rgb(120, 120, 120);
    --s-trigger-border: rgb(210, 210, 210);
    --s-popup-item-selected-color: #fff;
    --s-popup-separation: rgb(210, 210, 210);
    --s-popup-border: rgb(210, 210, 210);
    --mask-bg: #e7eeff 0, #ebecfb 20%, #e2edff 70%, #e8fafe 100%;
    --mention-bg: rgba(103, 114, 227, 0.15);
    --mention-color: rgb(103, 114, 227);
}

.evalk-theme-cloud *::selection {
    background: #b1d9ff;
}

.evalk-theme-cloud .message-go-bottom {
    background: linear-gradient(to right bottom,  var(--mask-bg));
}

.evalk-theme-cloud .message-go-bottom svg {
    color: #0d6efd;
}

.evalk-theme-cloud .list {
    background: linear-gradient(to bottom, #a1baee3b 0, #b5b8e93b 20%, #abc3ee3b 70%, #a1dce93b 100%);
}

.evalk-theme-cloud {
    background: none;
}

.evalk-theme-cloud .chat {
    background: linear-gradient(to bottom, #a1baee22 0, #b5b8e922 20%, #abc3ee22 70%, #a1dce922 100%);
}

.evalk-theme-cloud .evalk-modal {
    background: linear-gradient(to right bottom,  var(--mask-bg));
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.evalk-theme-cloud .evalk-loading {
    background: linear-gradient(to right bottom,  var(--mask-bg));
}

.evalk-theme-cloud .evalk-modal * {
    --border-color: rgba(0, 0, 0, 0.1);
}


/* For S.js */

.evalk-theme-cloud {
    --s-trigger-background: linear-gradient(to bottom, #a1baee22 0, #b5b8e922 20%, #abc3ee22 70%, #a1dce922 100%);
    --s-popup-item-hover: linear-gradient(to right, #a1baee3b 0, #b5b8e93b 20%, #abc3ee3b 70%, #a1dce93b 100%);
    --s-popup-background: linear-gradient(to right,  var(--mask-bg));
}
